@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}

h1, h2, .cta-heading{
    font-family: Montserrat, sans-serif;
}

#testimonials, #press{
    background-color: #ef8172;
}

#title {
    background-color: #ff4c68;
    color: white;
}

.navbar {
    padding: 0, 0, 4.5rem;
}

.navbar-brand {
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.title-img {
    width: 60%;
    height: 600px;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.5;
}

#features {
    background-color: white;
    padding: 7% 15%;
    position: relative;
    z-index: 1;
}

#features i {
    padding-left: 120px;
}

#features i {
    color: #ef8172;
    margin-bottom: 1rem;
}

#features i:hover {
    color: #f36653;
}

#testimonials {
    color: white;
    text-align: center;
}

h2 {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonials-img {
    width: 100px;
    border-radius: 100%;
    margin: 20px;
}

#press {
    padding-bottom: 3%;
    text-align: center;
}

.press-logo {
    width: 15%;
    padding: 20px 20px 50px;
}

.carousel-item {
    padding: 0 7% 0 15%;
}

#cta {
    background-color: #ff4c68;
    color: white;
    text-align: center;
}

.cta-heading {
    font-size: 3.5rem;
    line-height: 1.5;
}

.footer-icon {
    margin-left: 46%;
}

@media(max-width:992px) {
    #title {
        text-align: center;
    }
    .title-img {
        width: 60%;
        height: 600px;
        transform: rotate(0);
        position: static;
        right: 30%;
    }
    footer .footer-icon{
        position: relative;
        right: 30px;
    }
}
